<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/head.html :: headFragment}"/>
<head>
  <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<header>
  <h2>캐릭터 맞추기 게임</h2>
</header>
<main>
  <div id="menu-container">
    <div class="menu-item" th:each="menu : ${list}">
      <img class="menu-img" th:src="${menu.menuImg}" th:alt="${menu.title}"/>
      <div class="menu-title" th:text="${menu.title}"></div>
      <a class="start-btn" th:href="@{'/start-game/'+${menu.menuId}}" th:text="${'시작하기'}"></a>
    </div>
  </div>
</main>
<footer>
  <button class="red-button" onclick="location.href='/ranking'">랭킹보기</button>
</footer>
</body>
</html>