<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cha.charactergame.dao.QuestionDAO">

  <select id="selectMenuList" resultType="com.cha.charactergame.model.MenuInfo">
    select menu_id,
           title,
           menu_img
    from character_menus
    order by created_at asc
  </select>

  <select id="selectQuestionList" parameterType="String" resultType="com.cha.charactergame.model.QuestionInfo">
    select question_id,
           menu_id,
           image_path,
           correct_answer
    from character_questions
    where menu_id = #{menuId}
  </select>

</mapper>